.cityHall {
    height: 69px;
    width: 47px;
    background-image: url(https://api.geoapify.com/v1/icon/?type=awesome&scaleFactor=2&color=%2372a2d4&size=x-large&icon=plane-departure&apiKey=YOUR_API_KEY);
    background-size: contain;
    cursor: pointer;
  }